## Homework 2 Submission
Write your name and surname below:
<br>
Name:
<br>
Surname:

***Problem 1:***<br>a. Write a lambda function that raises a number to the third power and maps it on the following list creating a new list named "result".<br>
b.  Define a function that takes a number as an input and returns True if it is odd and False otherwise. Filter "result" list keeping only odd numbers using the function defined.

In [6]:
print("exercise a.")
nums = [3, 4, 5, 6, 7]
###_____________Start code here_________________###

lamb = lambda x: pow(x,3)
result = list(map(lamb,nums))

print(result)

###_____________End code here_________________###

exercise a.
[27, 64, 125, 216, 343]

In [11]:
#b
print("exercise b.")
###_____________Start code here_________________###


foo = list(filter(lambda x: True if (x%2)!=0 else False, result))
###_____________End code here_________________###

exercise b.

***Problem 2:*** <br>Write a program that asks a user to provide  a name  and a surname and returns a new email with  "@edu.aua.am" ending and underscore between the name and surname.<br> **Example**:
For a person named Steve Jobs the email should be steve_jobs@edu.aua.am.

In [ ]:
###_____________Start code here_________________###
print(Exercise 2.)
name = input("name: ")
surname = input("surname: ")
emailadd= name + "-" + surname + "@edu.aua.am"
print(emailadd)

###_____________End code here_________________###

***Problem 3:*** <br> a. Use an assert statement to make sure that the passed list is not empty and if it is empty report it with an expression that tells the list being empty <br>b. Write a function that asks a user to input numbers separated by a comma and return the average of numbers.<br> Make sure to warn the user if he/she provided as an input anything other than number.<br>
**Hint:** You can use try/except.

In [ ]:
print('Exercise 4.a')
#a
def avg(nums):
    assert len(num0) != 0
    return sum(nums)/len(nums)
num0 = []
print("Average num0:",avg(num0))

In [ ]:
#b
print('Exercise 4.b')
###_____________Start code here_________________###

numbers = input("write numbers seperated by commas")
lis =numbers.split(',')
try:
    newlis = [int(i) for i in lis]
except:
    print("not number")

else:
    avn = sum(newlis)/len(newlis)
    print (avn)

###_____________End code here_________________###

***Problem 4:***  <br>Given the list below, create a new one that contains all the numeric elements of the nested lists using list comprehensions.<br>
**Note:** "10" is numeric. <br>
**Hint:** Use isdigit() method to check whether a string is numeric.

In [ ]:
list_of_list = [[1,"issa str",4, 7],[2,"5",6,"Not a num"],[3,"8",9,10]]
###_____________Start code here_________________###

lis = [int(i) for n in list_of_list for i in n if str(i).isdigit()]
print(lis)

###_____________End code here_________________###

***Problem 5:***<br>Increase the following data scientists' salaries by 10 percent except for Lord Voldemort using dictionary comprehension.

In [ ]:
print('Exercise 5.')

Data_Scientist={"Harry Potter":700,"Ron Weasley":650,"Lord Voldemort":900,"Hermione Granger":800,"Albus Dumbledore":1000}


###_____________Start code here_________________###

dict0 = {i:(int(n*1.1) if n != "Lord Voldemort" else int(n*1)) for (i,n) in Data_Scientist.items() }
print(dict0)

###_____________End code here_________________###

***Problem 6:***<br>a. Create a new folder in your current directory named "files" and change directory into that folder.<br>
b. There are 4 famous quotes in "quotes" list provided below. Create/write 4 separate txt files one for each quote.<br>
c. List all the files in "files" directory and loop over the files to read the quotes and write all quotes in a new txt file called "combined.txt".
<br>**Note: Do not forget to change back to your working directory for the remaining problems.**

In [ ]:
#a
print('Exercise 6.a')
###_____________Start code here_________________###

import os
os.mkdir("files")
os.chdir("files")



os.getcwd()


###_____________End code here_________________###

In [ ]:
print('Exercise 6.b')
#b
quotes=["I'm going to make him an offer he can't refuse.",
"The first rule of Fight Club is: You do not talk about Fight Club.",
"Of all the gin joints in all the towns in all the world, she walks into mine.", 
"Being brave doesn't mean you go looking for troubleâ€¤"]

###_____________Start code here_________________###

files = ["first", "sec", "thr","frth"]
for i in files:
    with open("{}.txt".format(i),"w") as file:
        
        file.write(quotes[files.index(i)])

###_____________End code here_________________###

In [ ]:
print('Exercise 6.c')
#c
###_____________Start code here_________________###

file = os.listdir()
quotes=[i for i in file if ".txt" in i]
lin=[]
for i in quotes:
    with open(i,"r") as file:
        a=file.read()
        lin.append(a)
with open('combined.txt',"a") as comb:
    for i in lin:
        comb.write(i)
            
with open("combined.txt","r") as comb:
    n=comb.readline()
    print(n)
###_____________End code here_________________###

***Problem 7:***
<br>a. Calculate the value of "string" expression given below.<br>
b. Execute the code written in "code.txt" file attached.

In [5]:
print('Exercise 7.a.')
#a
a=5
c=2
strr='round((a+51)**c/75,-1)+1'

###_____________Start code here_________________###

print(eval(strr))
###_____________End code here_________________###

In [ ]:
print('Exercise 7.b:')
#b

###_____________Start code here_________________###

import os
os.chdir('..')
print(os.getcwd())
os.listdir()
with open("code.txt","r") as code:
    n = code.readlines()
    for i in n:
        ni = compile(i,"cds","exc")
        if exec(ni) != None:
            print(exec(ni))
###_____________End code here_________________###

***Problem 8:***<br>
**a.**<br> Our 5 students' test scores are now stored in the 2-d array "student_scores". Each row stores the corresponding test's scores. <br>
Calculate the mean of grades of each student(columns) and the median of grades per test (rows)?

In [ ]:
print('Exercise 8.a:')
student_scores = np.array([[92, 94, 88, 91, 87],
                           [79, 100, 86, 93, 91],
                           [87, 85, 72, 90, 92]])

###_____________Start code here_________________###

import numpy as np


mid = []
alltg= []
for i in range(5):
    mark=(student_scores[:,i]) 
    mean = np.mean(mark)
    alltg.append(int(mean))

for i in student_scores:
    med = np.mid(i)
    mid.append(int(med))
print(alltg)
print(mid)
###_____________End code here_________________###

**b.**<br>
Create a logical statement that selects elements in "porridge" array that are less than 60, and saves them in a new array called "cold".<br>
Create a logical statement that finds all elements that are higher than 80 and saves them in an array named "hot".

In [ ]:
print('Exercise 8.b:')
porridge = np.array([79, 65, 50, 63, 56, 90, 85, 98, 79, 51])
###_____________Start code here_________________###

cold = porridge[porridge < 60]
hot = porridge[porridge > 60]
print(cold, hot)
###_____________End code here_________________###

***Problem 9:***<br><br>**Note:** You do not have to create arrays mannualy; you can use NumPy methods for the below assignments.
<br>**a.** Create a null vector of length 100 then assign 10 to 5th value.<br>
**b.** Create a vector of length 10 with random integers between 1 and 10.<br>
**c.** Convert the given 1D array to a 2D array with 5 rows and 2 columns.
<br> **Hint:** You can use numpy's reshape, random.randint, random.random methods for the below assignments.

In [ ]:
print('Exercise 9.a:')
#a
###_____________Start code here_________________###
nullvct = np.random.randint(1, size=100)
nullvct[4] = 10
print(nullvct)

###_____________End code here_________________###

In [ ]:
print('Exercise 9.b:')
#b
###_____________Start code here_________________###

vct =np.random.randint(10, size=10)
print(vct)
###_____________End code here_________________###

In [ ]:
print('Exercise 9.c:')
#c
arr=np.array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
###_____________Start code here_________________###

arr0 =  np.reshape(arr, (5,2))
print(arr0)
###_____________End code here_________________###

***Problem 10:***<br>
Create a DataFrame with the provided data. We have already filled in the information for "Product ID" in "df1".<br>
Write a code to create the columns "Product Name" and "Color" with the data given below.</center><br>
Products are a pair of blue jeans, a green t-shirt, a black hat and white shoes.<br>
After all output (save) it as an .xlsx file in your current directory.

In [14]:
print('Exercise 10:')
import pandas as pd
df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],"Product Name":["Products: pair of blue jeans","green t-shirt","black hat","white shoes"]})
df1.to_excel("df1.xlsx", index=False)
print(df1)
 
    ###_____________End code here_________________###

   Product ID        Product Name
0           1  pair of blue jeans
1           2       green t-shirt
2           3           black hat
3           4         white shoes

***Problem 11:***<br>Read the attached file "titanic.csv" as DataFrame "df", have a look at first 5 rows and get information about the dataset using info() method.</strong><br>

In [ ]:
###_____________Start code here_________________###
df = pd.read_csv("titanic.csv")
print(df.head())

print(df.info())

###_____________End code here_________________###

Here is the description of dataset columns:
survival - Survival (0 = No; 1 = Yes)<br>
class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)<br>
sex - Sex<br>
age - Age<br>
sibsp - Number of Siblings/Spouses Aboard<br>
parch - Number of Parents/Children Aboard<br>
ticket - Ticket Numbe
fare - Passenger Fare<br>
cabin - Cabin<br>
embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)<br>
boat - Lifeboat (if survived)<br>
body - Body number (if did not survive and body was recovered)<br>
home.dest - Adress of people
<br><br>
a. Drop columns cabin, embarked, boat, body, home.dest.

In [ ]:
print("Exercise 11:")
#a
###_____________Start code here_________________###

drr =df.drop(["cabin","embarked","boat","body","home.dest"],axis=1)
drr
###_____________End code here_________________###

b. Check how many rows contain missing values.

In [10]:
print("Exercice 11.b:")
#b
###_____________Start code here_________________###
a = list(df.isna().any())
b = 0
for i in a:
    if i:
        b+=1
b

###_____________End code here_________________###

c. Fill missing values in age column by its mean or median.

In [ ]:
print("Exercice 11.c:")
#c
###_____________Start code here_________________###
print(df.age)
print("111111111111111111111111111111111111111111111111111111")
df = df.fillna(df.age.mean())
print("111111111111111111111111111111111111111111111111111111")
print(df.age)

###_____________End code here_________________###

d. Drop remaining missing values.

In [ ]:
#d
###_____________Start code here_________________###

df.dropna()
###_____________End code here_________________###

e. Calculate the percent of survived and not survived by sex.

In [ ]:
#e
###_____________Start code here_________________###

vals0=df["survived"].value_counts()
vf = df["sex"].value_counts()

nums = df[(df["survived"] == True) & (df["sex"] == "male")]["survived"].count()
numt = df[(df["survived"] == False) & (df["sex"] == "male")]["survived"].count()
numj = df[(df["survived"] == True) & (df["sex"] == "fem")]["survived"].count()
df.groupby(["sex","survived"]).count()
num_males = len(df.loc[df["sex"]=="male",])
num_females = len(df.loc[df["sex"]=="fem",])
nums0 = (nums/num_males)*100
numt0 = 100-nums0
numj0 = (nums/num_females)*100
numv = 100-numt0

print("Men Survivors",nums0)
print("Men didn't survive",numt0)
print("Female Survivors",numj0)
print("Female that did not survive",numj0)
###_____________End code here_________________###

f. Create a new column named "fare_AMD" with the prices of tickets in AMD (1 USD = 485 AMD).<br>
**Hint:** You can do it by applying a function on column "fare".

In [ ]:
#f
###_____________Start code here_________________###

df["fare_AMD"] = df["fare"].apply(lambda x: str(x * 485)+ "AMD")
print(df)

###_____________End code here_________________###

g. Round the values of "fare" column and add '$' sign in front of them by applying a lambda function.

In [ ]:

#g
###_____________Start code here_________________###

df["fare"]=df["fare"].apply(lambda x: str(round(float(x)))+ "$")

###_____________End code here_________________###

**Problem 13:**<br>
a. Find all names and ages in the text given below using regex and create dictionary where names are keys and ages are values.

In [ ]:
text = "I'm Jonh and I'm 12 year old, Jack is 23 and Suzan is 45 and 2132 they all earning $100"

###_____________Start code here_________________###
import re
txtlis = text.split()
txtlis


names = []
ages = []
for i in txtlis:
    pattern = r'[A-Z]'
    if (re.search(pattern, i)) and (not("'" in i)):
        names.append(i)
for i in txtlis:
    pattern = r"[0-9]{0,9}$"
    if re.match(pattern, i):
        ages.append(i)

disdict = dict(zip(names,ages))


print(disdict)

###_____________End code here_________________###

b. Substitute all email endings in the text given below with "@hogwarts.com" using regex.

In [ ]:
my_t = "My name is Harry, my e-mail is HarryPotter@aua.am, I need to send my statement of purpose to careers@aua.am"

###_____________Start code here_________________###

dist = re.sub(r'@[\w\.-]+',  '@hogwarts.com', my_t)
dist
###_____________End code here_________________###

**Problem 14**
<br>Read "data.txt" file attached and get all phone numbers and email addresses into separate lists using regex.

In [14]:
###_____________Start code here_________________###


###_____________End code here_________________###

***Problem 15***<br>Create a class of a human that has data attribute "nationality" as Armenian.<br> Make sure that the class instances of human class have arguments name, surname, profession and salary. <br>The class defined must have a method that returns an expression in this format: "Hi, I am "name" "surname". I am a/an "profession" and I earn "salary" a month."<br>
Create one or more isntancses of the class and call the class method defined on it or them.

In [ ]:
###_____________Start code here_________________###
class Human:
    nationality = "Armenian"
    def __init__(self, name, surname, profession, salary):
        self.name = name
        self.surname = surname
        self.profession = profession
        self.salary = salary
    def introduce(self):
        print ("Hi, I am " +self.name +" "+ self.surname +". I am a " +self.profession +" and I earn " +str(self.salary) +" a month.")
y = Human("Elen", "hdh","prof",415)
x = Human("Ani", "bsrjtyj","boom",380)
z = Human("Sona", "hfmt","caree",1500)
y.introduce()
x.introduce()
z.introduce()

###_____________End code here_________________###